.CardForm {
    box-shadow: 5px 2px 10px 2px grey !important;
    border-radius: 20px !important;
    padding: 12px 0;
  
}
.CardForm h3{
    color:#FFFFFF;
    font-weight: bold;
    border-radius: 20px;
    background-color: #DA4835;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px 0.5px  #DA4835;
    margin-left: 20px;
    margin-right: 20px;
}

.form-label{
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;

}

.form-control{
    box-shadow: 0px 0px 5px 0.5px  #DA4835;
}

.btn{
    background-color:#DA4835 ;
    color:#FFFFFF;
    box-shadow: 0px 0px 5px 0.5px  #DA4835;
}

.btn:hover{
    background-color:#DA4835 ;
    color:#FFFFFF;
    box-shadow: 0px 0px 5px 2px  #DA4835;
}