<footer class="bg-dark text-center text-white p-2 mt-5 position-relative" style="height:130px ">
  <div class="container rounded">
    <div class="text-center rounded p-4 position-absolute start-50 translate-middle fst-italic " style="background-color: #e32207;">
      El-menus aims to offer a robust El-menus Clone App that focuses on
      expanding your restaurant or food delivery business.
    </div>
  </div>
  <b class="position-absolute top-50 start-50 translate-middle right"> © 2022 Copyright</b>
 
</footer>
