.CardForm {
    box-shadow: 5px 2px 10px 2px grey !important;
    /* border-radius: 20px !important; */
    padding: 12px 0;
  
  }
  .CardForm h3{
      text-align: center; 
      color: #e32207;
  }

  label{
      color: black;
  }
.imgEdit{
    box-shadow: 5px 2px 10px 2px grey !important;
    border-radius: 20px !important;
    padding: 12px 0;
    margin-right: 80px;
    margin-left: 90px;
}