*{
    overflow: hidden;
}

mat-toolbar {
background: var(--first-color);
    color: white;
}

a{
text-decoration-line: none;
}

mat-sidenav {
    margin: 16px;
    width: 240px;
    overflow-x: hidden;
    border-right: none;
    background: #E32207;
    color: white;
    border-radius: 10px;
    padding: 16px;
    /* text-align: center; */
}

.content {
    height: fit-content;
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    position: relative;
    z-index: 55;
    height: 500px
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    transition: all;
    transition-duration: 0.5s;
}

.menu-button:hover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    color: #C3311E;
    background-color: #FFFFFF;

}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

#dropDownContainer{
    background-color: #FFFFFF;
}

.btn.dropdown-toggle{
    width: fit-content;
    color:#FFFFFF ;
    background-color: #C3311E;
    padding-right: 10px;
}


.dropdown-toggle{
    color:#FFFFFF ;
    background-color: #C3311E;
}

.dropdown-menu{
    width: 60px;
}

.dropdown-item{
    color:#C3311E ;
    background-color: #FFFFFF;
}

.dropdown-item:hover{
    color:#C3311E ;
    background-color: #dddee6f1;
}


.accordion-item{
    width:auto;
    height: auto;
    background-color: #E32207;
    color: #FFFFFF;
    border:none;

}

.accordion-button{
    background-color: #E32207;
    color: #FFFFFF;
    padding-bottom: 0;
    border:none;

}

.accordion-button::after{
    display: none;

}


.accordion-button.collapsed::after{
    display: none;
}

.accordion-body{
    padding: 5px;
    background-color: #FFFFFF;
    color:#E32207;
    border:none;
    border-radius: 20px;
    outline-width: 1px;
    outline-color: #f55641;
    text-align: center;

}

.collapsing {
    transition: height 0.6s;
}

h3{
    margin:0;
    color: #E32207;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    border-bottom: 1px solid #e4deda ;
    transition: all;
    transition-duration: 0.3s;
}

h3:hover{
    background-color: #e4deda;
    cursor: pointer;

}

/* Button Parent Element */
.mat-drawer-inner-container.ng-tns-c37-0{
    position: relative;
}
.mat-drawer-content.mat-sidenav-content.ng-star-inserted{
    position: relative;
}

/* Button Element */
.mat-focus-indicator.mat-icon-button.mat-button-base{
    position: absolute;
    z-index: 5100;
    background-color: #E32207;
    color: #FFFFFF;
    top:20px;
    width: 100px;
    border-radius: 20px;
    top:16px;
    left:-50px;
    padding-right: 10px;
    text-align: end;
}

/* The whole side bar */
.mat-drawer-opened{
    box-shadow: none;
}




