

<div class="container my-3">

    <div style="background: rgb(255, 255, 255);box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);border-bottom: 1px solid rgba(0,0,0,.1);" class="p-2" >
        <h4>Details Job of <span style="color: #636161;">{{NameJob}}</span>  </h4>
    
    </div>
    
    <div style="background: rgb(255, 255, 255);box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);overflow-x:auto;" class="px-2 py-4">
        <table class="table table-hover" style="background-color: #fff;">
            <thead style="background-color:#e32207 ;color: white;">
              <tr>
               
               
                <th>Decription</th>
                <th>Address</th>
                <th>Requirements</th>
                <th>Responsibilties</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of Job, let i=index" >
                   
                <td><p class="JobDES">{{job.Description}}</p></td>
                 <td>{{job.Location}}</td>
                 <td>
                     <ul>
                         <li *ngFor="let req of job.Requirements">{{req}}</li>
                     </ul>
                 </td>
                 <td>
                    <ul>
                        <li *ngFor="let res of job.Responsibilities">{{res}}</li>
                    </ul>
                </td>
                
              </tr>
           
            </tbody>
          </table>
        </div>
</div>
