<div class="container mt-5">
  <h3 style="text-align: center; color: #e32207">Add New Career</h3>
  <form [formGroup]="RegisterForm" class="m-3">
    <!----------------------------------------Name Career------------------------------------------->
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input
        type="text"
        formControlName="Name"
        class="form-control"
        id="Name"
        name="name"
        [class.is-invalid]="NameCareer?.untouched && NameCareer?.invalid"
        [class.is-valid]="NameCareer?.valid"
      />
      <div
        class="alert alert-danger"
        [hidden]="NameCareer?.valid || NameCareer?.untouched"
      >
        <small *ngIf="NameCareer?.errors?.['required']">
          Name Of Career is required !
        </small>
        <small *ngIf="NameCareer?.errors?.['minlength']">
          Name of Career at least 4 letters
        </small>
      </div>
    </div>
    <!----------------------------------------Jobs---------------------------------------------------->
    <button
    class="btn me-3"
    (click)="addNewJob()"
    style="background-color: #e32207; color: white"
  >
    Add Job
  </button>
  <div
    *ngFor="let Job of Jobs.controls; let i = index"
    formArrayName="Jobs"
  >
    <div [formGroupName]="i">
      <div class="input-field mb-3">
        <label> Job {{ i + 1 }}</label>
        <input
          class="form-control mb-2"
          type="text"
          placeholder="Enter your Name Job"
          formControlName="Name"
          [class.is-invalid]="Jobs.controls[i].get('Name')?.untouched && Jobs.controls[i].get('Name')?.invalid"
          [class.is-valid]="Jobs.controls[i].get('Name')?.valid"
        />
        <input
          class="form-control mt-2"
          type="text"
          placeholder="Enter your Address Job"
          formControlName="Address"
          [class.is-invalid]="Jobs.controls[i].get('Address')?.untouched && Jobs.controls[i].get('Address')?.invalid"
          [class.is-valid]="Jobs.controls[i].get('Address')?.valid"
        />
        <button
          type="button"
          class="btn btn-danger "
          [hidden]="i == 0"
          (click)="removeJob(i)"
        >
          -
        </button>
        </div>
        </div>
  </div>
    <!-------------------------------------------------------Add-------------------------------->
    <div >
      <button
       [disabled]="RegisterForm.invalid"
        type="submit"
        class="btn"
        style="background-color: #e32207; color: white"
        (click)="submit()"
      >
        Add
      </button>
  </div>
  <div >
    <button
     [disabled]="RegisterForm.invalid"
      type="submit"
      class="btn"
      style="background-color: #e32207; color: white"
      (click)="Update()"
    >
      Update
    </button>
</div>
  </form>
</div>
