
.theadstyle{
  background-color:#DA4835 ;
  color: white;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px !important;
}

.tableDiv{
  background: rgb(255, 235, 235) !important;
  box-shadow: 2px 2px 5px 5px rgba(216, 225, 228, 0.849) !important;
  border-radius: 20px 20px 20px 20px!important;
}

.bodyDiv{
  color: black;
  font-weight: 500;
  font-size:15px;
}

.btnConfirm, .btnDelete{
  background-color:#DA4835;
  margin: 0px 7px;
  color: white;
  
}

.btnEdit{
  margin: 0px 7px;
  color: white;
  background-color: #198754;
}

.btnEdit:hover{
  margin: 0px 7px;
  color: white;
  text-shadow: 1px 1px 2px white;
  box-shadow: 0px 0px 5px 2px  #198754;
  background-color: #198754;
}

.btnConfirm:hover{
  text-shadow: 1px 1px 2px white;
  box-shadow: 0px 0px 5px 2px  #DA4835;
}
.btnDelete:hover{
  text-shadow: 1px 1px 2px white;
  box-shadow: 0px 0px 5px 2px  #DA4835;
}
