
.theadstyle{
  background-color:#e32207 ;
  color: white;
  font-weight: bold;
  border-radius: 5px !important;
}

.tableDiv{
  background: rgb(255, 235, 235) !important;
  box-shadow: 5px 2px 10px 2px grey !important;
  border-radius: 20px !important;
}

.bodyDiv{
  color: black;
  font-weight: 500;
  font-size:15px;
}

.btnConfirm, .btnDelete{
  background-color: var(--first-color);
  margin: 0px 7px;
  color: white;
}

.btnConfirm:hover{
  color: green;
  font-size: 13px;
}
.btnDelete:hover{
  color: rgb(255, 136, 136);
  font-size: 13px;
}
